*{
	margin:0 0;
　　box-sizing:border-box;
    line-height: 1.82rem;
　　margin-bottom: 1.25rem;
}

#header {
	background-image: url("public/tougei3.png");
	background-size: cover;
}
#header div.inner-left{
	width:50%;
	background-color: ;
	float:left;
}
#header div.inner-left img {
	padding:150px 20px 10px 100px;
	width:calc( 100% - 100px);
}
#header div.inner-right{
	width:50%;
	background-color: ;
	float: left;
}
#header div.inner-right img{
	width:60%;
	padding:200px 0 0 5%;
}
#header div.inner-right ul.list{
	width:100%;
	background-color: ;
	padding-left: 0;
	padding-bottom: 50px;
}
#header div.inner-right ul.list li{
	display:inline-block;
	list-style: none;
	padding-left:20px;
	font-weight: bold;
}
#header div.inner-right div.sns{

}
#header div.inner-right div.sns i{
	float:right;
	padding-right:25%;
	font-size: 2.5rem;
}
#header div.bottom{
	width: 100%;
	clear: both;
	text-align: center;
	background-color: ;
	padding-top:20px;
}
#header div.bottom img{
	width:10%;
}
#header div.bottom p{
	font-weight: bold;
}

/*==========================*/

#content div.concept-top{
	width:100%;
	text-align: center;
	padding:50px 0 50px 0;
}
#content div.concept-top p{
	font-weight: normal;
}
#content div.concept-top p:first-child{
	font-size:1.5rem;
	padding-bottom: 5px;
}
#content div.concept-left{
	width: 50%;
	float:left;
	padding-left: 10%;
	box-sizing: border-box;
	font-size: 0.8rem;
}
#content div.concept-right{
	width:50%;
	float: left;
	padding-left:3%;
	padding-bottom: 100px;
	box-sizing: border-box;
	font-size:0.8rem;
}


#content div.works{
	background-color: rgba(204,204,204,0.7);
	padding-top: 40px;
	clear:both;
}

#content div.works-top{
	width:100%;
	text-align: center;
	padding:50px 0 50px 0;
}
#content div.works-top p{
	font-weight: normal;
}
#content div.works-top p:first-child{
	font-size:1.5rem;
	padding-bottom: 5px;
}
#content div.works-left{
	max-width:50%;
	float:left;
	text-align: center;
	background-color: rgba(204,204,204,0.7);
}
#content div.works-left img{
	width:80%;
	padding-top: 50px;
}
#content div.works-right{
	max-width:50%;
	float:left;
	text-align: center;
	background-color: rgba(204,204,204,0.7);
}
#content div.works-right img{
	width:80%;
	padding-top: 50px;
}

#content div.maker{
	padding-top: 40px;
	clear:both;
}
#content div.maker-top{
	width:100%;
	text-align: center;
	padding:50px 0 50px 0;
}
#content div.maker-top p{
	font-weight: normal;
}
#content div.maker-top p:first-child{
	font-size:1.5rem;
	padding-bottom: 5px;
}